@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat';
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 20px;
    font-size: 40px;
}

h3 {
    text-align: center;
}

.forecast-box {
    border: solid 1px;
}

#current-city-box {
    float: right;
}